@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 h-full w-full bg-pc-darkest text-pc-text-primary font-regular;
}

#root {
  @apply min-h-screen;
}

.react-flow__edges,
.react-flow__connection {
  z-index: 6 !important;
}

.react-flow__edge-path,
.react-flow__connection-path {
  pointer-events: stroke;
}

.react-flow__edge.selected path {
  stroke: #f60 !important;
  stroke-width: 3px;
}

.pc-minimap .react-flow__minimap-mask {
  fill: #364346;
  stroke: #20292b;
  stroke-width: 1.5px;
}
