@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 h-full w-full bg-slate-950 text-slate-50 font-sans;
}

#root {
  @apply min-h-screen;
}

.react-flow__edges,
.react-flow__connection {
  z-index: 6 !important;
  pointer-events: none;
}
